# ==========================================================
# Files to ignore
# ==========================================================

*.pyc
json.pretty.output


# ==========================================================
# Folders to ignore
# ==========================================================

build
dist
python_selenium_framework.egg-info
TO_DELETE
